{% extends 'base.html.twig' %}

{% import "_macros/utils.html.twig" as utils %}

{% block body %}
  {% for story in stories %}
    {% set last_episode = story.episodes.last %}
    {% set last_protagonist = last_episode.protagonist %}
    <a href="{{ path('story.index', { slug: story.slug }) }}">
      <div class="card">
        <div class="card-image">
          <figure class="image is-48x48">
  {#          <img src="https://bulma.io/images/placeholders/1280x960.png"#}
  {#               alt="{% trans %}placeholder.story{% endtrans %}">#}
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ last_protagonist.avatar }}" alt="{{ last_protagonist.name }}">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ story.title }}</p>
              <p class="subtitle is-6">
                <a href="#">{{ last_protagonist.name }}</a>
                {% if last_protagonist.anonymous == false %}
                  (<a href="#">{{ last_protagonist.user.username }}</a>)
                {% endif %}
              </p>
            </div>
          </div>

          <div class="content">
            {{ last_episode.content | slice(1, 30) }}{#
            #}{% if last_episode.content | length >= 30 %}...{% endif %}
            <br>
            <time datetime="{{ last_episode.createdAt | date('Y-m-d') }}">
              {{ last_episode.createdAt | date('d m Y à H:i:s') }}
            </time>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}

  {{ utils.paginate(pagination.page, pagination.nbPages, {slug: place.slug}) }}
{% endblock %}
