{% extends 'base.html.twig' %}

{% block body %}
  {#@Todo Remove it#}
  <div style="margin: 3px 0; padding: 3px; border-radius: 4px;
              background-color: #c0a16b; box-shadow: 1px 1px 3px black;
              color: white; font-weight: bold;"
  >
    Bêta Akisroc - {{ app_version() }}
  </div>
  <input type="text" placeholder="Recherche...">
  {% for type, group in groups %}
    <section class="category">
      <h2>{{ type }}</h2>
      {% for category in group %}
        <section class="category">
          <h3>{{ category.title }}</h3>
          {% for board in category.boards %}
            <section class="category grid-x">
              <a href="{{ path('board', {'id': board.id}) }}" class="description small-9 cell">
                <h4><span class="fa fa-book"></span>{{ board.title }}</h4>
                <p>{{ board.description }}</p>
              </a>
              <a href="#" class="last-post small-3 cell">
                <h5>Lorem ipsum dolor.</h5>
                <p>Par Ec'bêl</p>
                <p>Le 3 décembre 2017 à 11h18</p>
              </a>
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </section>
  {% endfor %}
{% endblock %}