{% extends 'base.html.twig' %}

{% block body %}
  <div class="topic">
    <h2>{{ topic.title }}</h2>
    <section class="posts">
      {% for post in posts %}
        <article class="post">
          <header class="post-header grid-x">
            <div class="post-hrp-infos cell">
              <a id="{{ post.id }}" href="{{ path('topic', {'id': topic.id}) }}#{{ post.id }}">Écrit</a>
              par <a href="#"><span class="post-author">{{ post.user.name }}</span></a>
              le <span class="post-date">6 décembre 2017</span>
              à <span class="post-hour">22h16</span>
            </div>
            <div class="post-rp-infos cell">
              <div class="character-avatar">
                <img src="{{ post.user.avatar }}" alt="Avatar : {{ post.user.name }}">
              </div>
              <div class="post-character">{{ post.user.name }}</div>
            </div>
          </header>
          <div class="post-content">
            {{ post.content |nl2br }}
          </div>
        </article>
      {% endfor %}
    </section>
  </div>
{% endblock %}