{% extends 'base.html.twig' %}

{% block body %}
  <div class="topic">
    <h2>{{ topic.title }}</h2>
    <p><a href="{{ path('topic.add-post', {'id': topic.id}) }}">Répondre</a></p>
    <section class="posts">
      {% for post in posts %}
        <article class="post">
          <header class="post-header flow">
            <div class="post-hrp-infos a12">
              <a id="{{ post.id }}" href="{{ path('topic.index', {'id': topic.id}) }}#{{ post.id }}">Écrit</a>
              par <a href="#"><span class="post-author">{{ post.user }}</span></a>
              le <span class="post-date">6 décembre 2017</span>
              à <span class="post-hour">22h16</span>
            </div>
            <div class="post-rp-infos a12">
              <div class="character-avatar">
                <img src="{{ post.user.avatar }}" alt="Avatar : {{ post.user }}">
              </div>
              <div class="character-infos flow">
                <div class="character-name a12">{{ post.user }}</div>
                <div class="">Salut</div>
              </div>
            </div>
          </header>
          <div class="post-content">
            {{ post.content |nl2br }}
          </div>
        </article>
      {% endfor %}
    </section>
  </div>
{% endblock %}